@import '~vuetify/dist/vuetify.min.css';
@import '~@mdi/font/css/materialdesignicons.min.css';
@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Fugaz+One|Nunito:700|Ubuntu:700&display=swap');

html, body {
    color: #fff;
    font-family: 'Fugaz One', sans-serif !important;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

body .v-application, body #welcome {
    // font-family: 'Nunito', sans-serif !important;

    background: #72ffad !important;
    background: -moz-linear-gradient(180deg, #8ef3b8 0%, #48bebe 100%) !important;
    background: -webkit-linear-gradient(180deg, #8ef3b8 0%, #48bebe 100%) !important;
    background: linear-gradient(180deg, #48bebe 0%, #8ef3b8 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#48bebe",endColorstr="#8ef3b8",GradientType=1) !important;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

.pointer {
    cursor: pointer !important;
}

.v-application .logo, .logo {
    font-family: 'Leckerli One', sans-serif !important;
}

.v-application .v-content .headline, .headline {
    font-family: 'Nunito', sans-serif !important;
    font-weight: bold;
}

.v-alert {
    margin: 0 !important;
}

.fixed {
    position: fixed;
}

/* Removes the weird gap on the toolbar */
.v-toolbar {
    flex: none !important;
}

.no-padding {
    padding: 0 !important;
}
