@import '~vuetify/dist/vuetify.min.css';
@import '~@mdi/font/css/materialdesignicons.min.css';
@import url('https://fonts.googleapis.com/css?family=Arizonia|Leckerli+One|Norican|Playball&display=swap');

html, body {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

body .v-application, body #welcome {
    background: #72ffad !important;
    background: -moz-linear-gradient(180deg, #8ef3b8 0%, #48bebe 100%) !important;
    background: -webkit-linear-gradient(180deg, #8ef3b8 0%, #48bebe 100%) !important;
    background: linear-gradient(180deg, #8ef3b8 0%, #48bebe 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ef3b8",endColorstr="#48bebe",GradientType=1) !important;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

.v-application .logo, .logo {
    font-family: 'Leckerli One', sans-serif !important;
}

.v-alert {
    margin: 0 !important;
}

.fixed {
    position: fixed;
}
